<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="htmlEncode" converterClass="fr.insee.pearljam.configuration.web.log.LogbackAvoidLogForgeryContentEncoder" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProperty name="FEATURE_LOGGING_FILE_ENABLED" source="feature.logging.file.enabled" />

    <if condition='"${FEATURE_LOGGING_FILE_ENABLED}" == "true"'>
    <then>
        <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <maxHistory>${LOGBACK_ROLLINGPOLICY_MAX_HISTORY}</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="ROLLING_FILE" />
        </root>
    </then>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>