services:
  pearl-db:
    image: postgres:14.15
    environment:
      - POSTGRES_USER=${PEARL_DB_USER}
      - POSTGRES_PASSWORD=${PEARL_DB_PASSWORD}
      - POSTGRES_DB=${PEARL_DB}
    command: ["postgres"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PEARL_DB_USER} -d ${PEARL_DB} -h localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
    ports:
      - ${PEARL_DB_PORT}:5432

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    environment:
      KEYCLOAK_ADMIN: administrator
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HEALTH_ENABLED: "true"
      KC_LOG_LEVEL: info
    command: ["start-dev", "--import-realm"]
    ports:
      - "${KEYCLOAK_PORT}:8080"
    volumes:
      - ./container/keycloak/realms:/opt/keycloak/data/import
  activemq:
    image: ${IMAGES_REGISTRY_DOCKER_IO:-docker.io}/${IMAGE_ACTIVEMQ:-apache/activemq-artemis:2.32.0-alpine}
    environment:
      ARTEMIS_USER: ${ARTEMIS_USER:-insee}
      ARTEMIS_PASSWORD: ${ARTEMIS_PASSWORD:-lille}
    ports:
      - "61616:61616"
      - "8161:8161"
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 61616 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s